openapi: 3.2.0
info:
  title: Cribl Health API
  version: '1.0'
  contact:
    name: Cribl Support
    url: https://cribl.io/support/
  termsOfService: https://cribl.io/terms-of-service/
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: cribl-as-code-api-openapi.yml, cribl-cloud-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.cribl.cloud
  description: Cribl Cloud Management Plane
- url: https://{workspaceName}-{organizationId}.cribl.cloud/api/v1
  description: Cribl Cloud
  variables:
    workspaceName:
      default: default
      description: The name of the Cribl Cloud workspace
    organizationId:
      default: org-id
      description: The Cribl Cloud organization identifier
- url: https://{hostname}:{port}/api/v1
  description: On-Premises Deployment
  variables:
    hostname:
      default: localhost
      description: The hostname of the Cribl instance
    port:
      default: '9000'
      description: The port of the Cribl instance
security:
- bearerAuth: []
tags:
- name: Health
  description: Check the health and availability of the Cribl Cloud management plane services.
paths:
  /health:
    get:
      operationId: getManagementHealth
      summary: Check management plane health
      description: Returns the health status of the Cribl Cloud management plane services including availability and version information.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Management plane is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The health status
                    enum:
                    - healthy
                    - degraded
                    - unhealthy
                  version:
                    type: string
                    description: The management plane version
    servers:
    - url: https://gateway.cribl.cloud
      description: Cribl Cloud Management Plane
components:
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          description: The health status of the server
          enum:
          - healthy
          - degraded
          - unhealthy
        version:
          type: string
          description: The Cribl software version
        build:
          type: string
          description: The build identifier
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained via OAuth 2.0 client credentials grant from https://login.cribl.cloud/oauth/token. Tokens expire after 24 hours (86400 seconds).
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for Cribl Cloud management plane authentication.
      flows:
        clientCredentials:
          tokenUrl: https://login.cribl.cloud/oauth/token
          scopes: {}
x-refined-from:
- cribl-as-code-api-openapi.yml
- cribl-cloud-api-openapi.yml
