openapi: 3.1.0
info:
  title: Cribl As Code API Credentials Edge Pipelines API
  description: The Cribl As Code API enables developers to manage Cribl configurations programmatically using infrastructure-as-code principles. The management plane API provides endpoints for administrative tasks in Cribl Cloud including managing organizations, workspaces, and API credentials. Developers can use this API alongside SDKs for Python, Go, and TypeScript, or through Terraform providers, to onboard sources, build and maintain pipelines, and standardize workflows at scale. The management plane supports creating and configuring Cribl Cloud workspaces, managing API credentials, and controlling access to organizational resources.
  version: '1.0'
  contact:
    name: Cribl Support
    url: https://cribl.io/support/
  termsOfService: https://cribl.io/terms-of-service/
servers:
- url: https://gateway.cribl.cloud
  description: Cribl Cloud Management Plane
security:
- bearerAuth: []
tags:
- name: Edge Pipelines
  description: Manage processing pipelines running on edge nodes for local data transformation and filtering before forwarding.
paths:
  /m/{fleetId}/pipelines:
    get:
      operationId: listEdgePipelines
      summary: List edge pipelines in a fleet
      description: Retrieves all processing pipelines configured for an edge fleet for local data transformation on endpoints.
      tags:
      - Edge Pipelines
      parameters:
      - $ref: '#/components/parameters/fleetId'
      responses:
        '200':
          description: Successfully retrieved edge pipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EdgePipeline'
                  count:
                    type: integer
                    description: Total number of pipelines
        '401':
          description: Unauthorized
        '404':
          description: Fleet not found
    post:
      operationId: createEdgePipeline
      summary: Create an edge pipeline in a fleet
      description: Creates a new processing pipeline for an edge fleet to transform data locally on endpoints before forwarding.
      tags:
      - Edge Pipelines
      parameters:
      - $ref: '#/components/parameters/fleetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgePipeline'
      responses:
        '200':
          description: Edge pipeline created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgePipeline'
        '400':
          description: Invalid pipeline configuration
        '401':
          description: Unauthorized
components:
  schemas:
    EdgePipeline:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the edge pipeline
        conf:
          type: object
          description: Pipeline configuration object
          properties:
            functions:
              type: array
              description: Ordered list of processing functions
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The function type identifier
                  filter:
                    type: string
                    description: JavaScript expression to filter events
                  disabled:
                    type: boolean
                    description: Whether this function is disabled
                  conf:
                    type: object
                    description: Function-specific configuration
            description:
              type: string
              description: A human-readable description
  parameters:
    fleetId:
      name: fleetId
      in: path
      required: true
      description: The edge fleet identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained via OAuth 2.0 client credentials grant from https://login.cribl.cloud/oauth/token. Tokens expire after 24 hours (86400 seconds).
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for Cribl Cloud management plane authentication.
      flows:
        clientCredentials:
          tokenUrl: https://login.cribl.cloud/oauth/token
          scopes: {}
externalDocs:
  description: Cribl As Code Documentation
  url: https://docs.cribl.io/cribl-as-code/api/
