openapi: 3.1.0
info:
  title: Cribl As Code API Credentials Edge Nodes API
  description: The Cribl As Code API enables developers to manage Cribl configurations programmatically using infrastructure-as-code principles. The management plane API provides endpoints for administrative tasks in Cribl Cloud including managing organizations, workspaces, and API credentials. Developers can use this API alongside SDKs for Python, Go, and TypeScript, or through Terraform providers, to onboard sources, build and maintain pipelines, and standardize workflows at scale. The management plane supports creating and configuring Cribl Cloud workspaces, managing API credentials, and controlling access to organizational resources.
  version: '1.0'
  contact:
    name: Cribl Support
    url: https://cribl.io/support/
  termsOfService: https://cribl.io/terms-of-service/
servers:
- url: https://gateway.cribl.cloud
  description: Cribl Cloud Management Plane
security:
- bearerAuth: []
tags:
- name: Edge Nodes
  description: Monitor and manage individual edge nodes deployed on endpoints including their status, version, and resource utilization.
paths:
  /master/workers:
    get:
      operationId: listEdgeNodes
      summary: List all edge nodes
      description: Retrieves all connected edge nodes across all fleets including their status, OS, version, and resource utilization metrics.
      tags:
      - Edge Nodes
      responses:
        '200':
          description: Successfully retrieved edge nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EdgeNode'
                  count:
                    type: integer
                    description: Total number of edge nodes
        '401':
          description: Unauthorized
  /master/workers/{id}:
    get:
      operationId: getEdgeNode
      summary: Get an edge node by ID
      description: Retrieves the status and details of a specific edge node including its OS, version, fleet membership, and resource utilization.
      tags:
      - Edge Nodes
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Successfully retrieved edge node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeNode'
        '401':
          description: Unauthorized
        '404':
          description: Edge node not found
  /master/workers/{id}/restart:
    post:
      operationId: restartEdgeNode
      summary: Restart an edge node
      description: Initiates a restart of a specific edge node agent on the endpoint system.
      tags:
      - Edge Nodes
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Restart initiated successfully
        '401':
          description: Unauthorized
        '404':
          description: Edge node not found
components:
  schemas:
    EdgeNode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the edge node
        hostname:
          type: string
          description: The endpoint hostname
        group:
          type: string
          description: The fleet the node belongs to
        version:
          type: string
          description: The Cribl Edge agent version
        status:
          type: string
          description: The current node status
          enum:
          - online
          - offline
          - degraded
        os:
          type: string
          description: The operating system of the endpoint
        cpuUsage:
          type: number
          description: Current CPU utilization percentage
          format: float
        memUsage:
          type: number
          description: Current memory utilization percentage
          format: float
        ip:
          type: string
          description: The IP address of the endpoint
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained via OAuth 2.0 client credentials grant from https://login.cribl.cloud/oauth/token. Tokens expire after 24 hours (86400 seconds).
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for Cribl Cloud management plane authentication.
      flows:
        clientCredentials:
          tokenUrl: https://login.cribl.cloud/oauth/token
          scopes: {}
externalDocs:
  description: Cribl As Code Documentation
  url: https://docs.cribl.io/cribl-as-code/api/
